/* Card.css */
.card {
    position: relative;
    width: 10%;
    height: 90%;
    max-height: 150px;
    max-width: 80px;
    background-color: white;
    border: 2px solid #333;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 0;
}

.card-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.plant-name {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    font-size: 12px;
    padding: 2px;
    overflow: hidden;
}

.plant-image {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.plant-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.plant-cost {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    font-size: 14px;
}

.card:disabled {
    cursor: not-allowed;
}

.card.chosen {
    border: 6px solid yellow;
}

.card.cooling {
    background-color: #d3d3d3;
}

.card.expensive {
    background-color: #ce7f7f;
    cursor: not-allowed;
}

.card.paused {
    cursor: not-allowed;
}

.cooldown-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 64, 64, 0.7);
    animation: cooldown linear forwards;
    transform-origin: bottom;
}

@keyframes cooldown {
    from {
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
    }
}

.card:hover:not(:disabled) {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:active:not(:disabled) {
    transform: scale(0.95);
}